.explore {
  position: relative;
  overflow: hidden;
  @media (max-width: 1100px) {
    margin-top: 60px;
    height: 90vh;
  }
  @include r($tablet) {
    height: 84vh;
  }

  .top {
    position: absolute;
    @include topLeft50;
  }

  &__img {
    @include objectCoverBg;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(810px);
    position: relative;
    z-index: 30;
    transition: transform 1.6s;
    @media (max-width: 1100px) {
      transform: translateX(-50%) translateY(810px);
      transition: transform 4s;
    }
    @include r($sm) {
      transform: translateX(-50%) translateY(0);
      height: auto;
      width: 280px;
    }
    @media (max-width: 520px) {
      transform: translateX(-50%) translateY(0);
    }
  }
}