<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <img class="logo" src="images/logo.svg" width="64" height="24" alt="логотип">
      </div>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link active desktop" href="#start">Main</a>
          </li>
          <li class="header__item">
            <a class="header__link desktop" href="#about">What is Duck?</a>
          </li>
          <li class="header__item">
            <a class="header__link desktop" href="#duckonomics">Duckonomics</a>
          </li>
          <li class="header__item">
            <a class="header__link desktop" href="#articles">Apps and Services</a>
          </li>
          <li class="header__item">
            <a class="header__link desktop" href="#articles">Community</a>
          </li>
        </ul>
      </nav>
      <div class="header__right">
        <a class="btn gray" href="https://dedust.io/swap/ton/duck" target="_blank">
          Buy token
        </a>
      </div>
      <button class="menu-btn menu-btn--header">
        <span class="menu-btn__line"></span>
        <span class="sr-only">Interact with the menu</span>
      </button>
    </div>
  </div>
</header>